@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font_family_default: 'Roboto', sans-serif;
$color_primary: #272727;
$color_dark:#dedede;
$color_secondary: white;
$color_success: #28a745;
$color_error:#dc3545;
$color_tertiary:#2095f2;
$danger: $color_error;