<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="CfBQ_FX3X33aQ40vexfubb8xyjBPc04Ry50264EZ7Uk" />
    <meta name="description" content="<%=$.metaDescription()%>">
    <%#[BEGIN Favicon INCLUDES]%>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <%#[END Favicon INCLUDES]{K.A.}(12/19/2020)%>
    
    <title><%=$.app.name%> | Generate YouTube Video Citations</title>

    <%#[BEGIN CSS INCLUDES]%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fontAwesome/all.min.css">
    <%#[END CSS INCLUDES]{K.A.}(12/13/2020)%>

    <%#[BEGIN JS INCLUDES]%>
    <script src="/js/Ktools.js"></script>
    <script src="/js/Alert.js"></script>
    <script src="/js/data.js"></script>
    <%#[END JS INCLUDES]{K.A.}(12/13/2020)%>