<header class="">
    <div class="container">
        <a href="/" title="CiteTube Home">
            <img src="/img/citeTubeLogo.png" alt="CiteTube Logo"/>
            <h1 class="site_name">
                CiteTube
            </h1>
        </a>
    </div>
</header>